<!-- <div class="container">
    <div class="text-center">
    <h1 class="text-white">No Of Products : {{productCount}}</h1>
    <p *ngFor="let title of productsSentByChild" class="text-white">{{title}}</p>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-3 mb-3 g-4">
        <div class="col" *ngFor="let prObj of products">
            <app-product-details [productObj]=prObj  (myEvent)="getProductDetailsFromChild($event)"></app-product-details>
        </div>
    </div>
</div> -->

<ul class="nav nav-pills justify-content-evenly m-5">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="mobiles" routerLinkActive="active">Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="bikes" routerLinkActive="active">Bikes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="televisions" routerLinkActive="active">Televisions</a>
    </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>
