<div class="row">
    <div class="col-sm-2 col-lg-3"></div>
    <div class="col-sm-8 col-lg-6">
    
        <form action="">
            <div class="m-3">
                <h2 class="text-center">Registration Form</h2>
            </div>
            <div class="mb-3">
                <label for="un" class="form-label">User Name</label>
                <input type="text" class="form-control" id="un" placeholder="User Name" name="Username">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label"> Password </label>
                <input type="password" class="form-control" id="pwd" placeholder="Password" name="Password">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <input type="email" class="form-control" id="email" placeholder="Email@gmail.com" name="Email">
            </div>
            <div class="mb-3">
                <label for="dob" class="form-label"> Date Of Birth </label>
                <input type="date" class="form-control" id="dob" name="Dob">
            </div>
            <button class="btn btn-success d-block mx-auto">Register</button>
        </form>
    </div>

    <div class="col-sm-2 col-lg-3"></div>
    
</div>